<!-- start of navbar -->
    <nav class="navbar navbar-fixed-top">
        <!-- start of navbar-sidebar -->
        <div class="navbar-sidebar">
            <%= link_to root_path, class:'navbar-brand' do %>
                 <%= image_tag "primary-logo.png", alt:'n-cms', class:'primary-logo' %>
                <img src="img/danger-logo.png" alt="n-cms" class="danger-logo" />
                <img src="img/success-logo.png" alt="n-cms" class="success-logo" />
                <img src="img/warning-logo.png" alt="n-cms" class="warning-logo" />
                <img src="img/info-logo.png" alt="n-cms" class="info-logo" />
                <img src="img/purple-logo.png" alt="n-cms" class="purple-logo" />
                <h1 class="hidden-sm-down">Arkalite</h1>
            <% end %>
            <a class="sidebar-toggle" href="#" data-toggle="sidebar">&#9776;</a>
        </div>
        <!-- end of navbar-sidebar -->
        <!-- start of main menu -->
        <ul class="nav navbar-nav float-xs-left main-menu">
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <!-- end of main menu -->
        <!-- end of primary menu -->
        <div class="float-xs-right secondary-menu">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link use-icon" id="message" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="tag">6</span><i class="material-icons">mail_outline</i></a>
                    <div class="dropdown-menu dropdown-menu-right notification-list nice-scroll" aria-labelledby="message">
                        <div class="outer-triangle-right"></div>
                        <div class="header">
                            <h4 class="text-xs-center">Messages</h4>
                        </div>
                        <ul class="list-unstyled nice-scroll">
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/nadya-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">30 Nov</small>
                                            </div>
                                            <h5>Nadya Amanda</h5>
                                            <span class="title">Invitation Meeting With Product Manager</span>
                                            <span class="content">Hi Amara, I would like to invite you to a meeting with product manager at our HQ</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/paolo-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">28 Nov</small>
                                            </div>
                                            <h5>Paolo Aurelio</h5>
                                            <span class="title">Technical Document</span>
                                            <span class="content">Could you please send me a technical document from our last meeting</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/jonski-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">25 Nov</small>
                                            </div>
                                            <h5>Jonski Sorgki</h5>
                                            <span class="title">Announcement</span>
                                            <span class="content">Dear all, I would like to thank all of you for making my dream come true</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/ragnar-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">9 Nov</small>
                                            </div>
                                            <h5>Ragnar Klavan</h5>
                                            <span class="title">Financial Report Q1</span>
                                            <span class="content">Dear Amara, I will be out of town for a while, you can contact me via email </span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/ragnar-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">9 Nov</small>
                                            </div>
                                            <h5>Ragnar Klavan</h5>
                                            <span class="title">Financial Report Q2</span>
                                            <span class="content">Dear Amara, I will be out of town for a while, you can contact me via email </span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/ragnar-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">9 Nov</small>
                                            </div>
                                            <h5>Ragnar Klavan</h5>
                                            <span class="title">Financial Report Q3</span>
                                            <span class="content">Dear Amara, I will be out of town for a while, you can contact me via email </span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="#">
                                        <div class="media-left">
                                            <img class="media-object rounded-circle" src="img/ragnar-avatar.jpg" alt="user2">
                                        </div>
                                        <div class="media-body">
                                            <div class="date"><small class="d-inline text-muted">9 Nov</small>
                                            </div>
                                            <h5>Ragnar Klavan</h5>
                                            <span class="title">Financial Report Q4</span>
                                            <span class="content">Dear Amara, I will be out of town for a while, you can contact me via email </span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="py-1 footer">
                            <a href="#">See All Messages</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link use-icon" id="notification" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="tag">8</span><i class="material-icons">notifications</i></a>

                    <div class="dropdown-menu dropdown-menu-right notification-list nice-scroll" aria-labelledby="notification">
                        <div class="outer-triangle-right"></div>
                        <div class="header">
                            <h4 class="text-xs-center">Notifications</h4>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object rounded-circle" src="img/paolo-avatar.jpg" alt="user2">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">
                                            <h5 class="d-inline">Paolo Aurelio</h5><span> replied to your comment on his post</span>
                                            <div class="time"><i class="material-icons text-muted">access_time</i> <small class="d-inline text-muted">2 hours ago</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="close">
                                    <a href="#"><i class="material-icons">close</i></a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object rounded-circle" src="img/nadya-avatar.jpg" alt="user2">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">
                                            <h5 class="d-inline">Nadya Amanda</h5><span> posted on your wall</span>
                                            <div class="time"><i class="material-icons text-muted">access_time</i> <small class="d-inline text-muted">7 days ago</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="close">
                                    <a href="#"><i class="material-icons">close</i></a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object rounded-circle" src="img/jonski-avatar.jpg" alt="user2">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">
                                            <h5 class="d-inline">Jonski Sorgki</h5> liked your photo
                                            <div class="time"><i class="material-icons text-muted">access_time</i> <small class="d-inline text-muted">2 weeks ago</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="close">
                                    <a href="#"><i class="material-icons">close</i></a>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object rounded-circle" src="img/ragnar-avatar.jpg" alt="user2">
                                    </div>
                                    <div class="media-body">
                                        <a href="#">
                                            <h5 class="d-inline">Ragnar Klavan</h5> add a new task
                                            <div class="time"><i class="material-icons text-muted">access_time</i> <small class="d-inline text-muted">9 November at 07:00</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="close">
                                    <a href="#"><i class="material-icons">close</i></a>
                                </div>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link use-icon" href="#"><i class="material-icons">chat_bubble</i></a>
                </li>
            </ul>
            <div class="dropdown show d-inline user-menu">
                <%= link_to account_profile_path, class:'btn dropdown-toggle', id:'dropdownMenuLink', data: { toggle:'dropdown'} , aria:{ haspopup:'true', expanded:'false' } do %>
                    <div class="media d-inline">
                        <div class="media-left">
                            <%= image_tag current_user.avatar.url, class:'media-object rounded-circle', alt:'Generic placeholder image', height:'30', width:'30'%>
                        </div>
                        <div class="media-right hidden-sm-down text-xs-left">
                            <h5 class="media-heading mb-0"><%= current_user.name %></h5>
                            <small>Administrator</small>
                        </div>
                    </div>
                <% end %>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <%= link_to account_settings_path, class:'dropdown-item' do %>
                        <i class="material-icons align-middle mr-1">settings</i>Account
                    <% end %>
                    <%= link_to account_profile_path, class:'dropdown-item' do %>
                        <i class="material-icons align-middle mr-1">person</i>Profile
                    <% end -%>
                    <div class="dropdown-divider"></div>
                    <%= link_to destroy_user_session_path, method: :delete, class:'dropdown-item' do %>
                        <i class="material-icons align-middle mr-1">power_settings_new</i>Logout
                    <% end -%>
                </div>
            </div>
            <a class="main-menu-toggle" href="#" data-toggle="main-menu"><i class="material-icons">view_list</i></a>
        </div>
        <!-- end of secondary menu -->
        <form class="float-md-right navbar-search">
            <div class="float-xs-right input-with-icon mb-1">
                <i class="material-icons">search</i>
                <input type="search" class="form-control" placeholder="Search" />
            </div>
        </form>
    </nav>
    <!-- end of navbar -->
    